.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

h1 {
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;

  th,
  td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }

  thead {
    background-color: #f2f2f2;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  td {
    cursor: pointer;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #007bff;
  }
}
